## 리스트(list)
- list
- 파이썬의 자료 구조 형태 중 하나
- 순서가 있는 수정가능한 객체의 집합 : <b>추가,수정,삭제 가능</b>
- <b>대괄호([])로 작성</b>, 리스트 내부의 값은 콤마(,)로 구분
- 하나의 리스트에 다양한 자료형 포함
    - 리스트명 = [요소1, 요소2,요소3,....]
    - 가변적이며 여러 자료형을 넣을 수도 있음
    - 리스트 안에 리스트를 넣을 수도 있음

#### 리스트 인덱싱 
- 리스트명[인덱스번호]

- 리스트 인덱싱 예제

In [2]:
list2=[1, 2, 3,['a','b','c']]
temp=list2[-1]
temp[1]

'b'

In [3]:
# 2차원 인덱싱
list2[3][1]

'b'

#### 리스트 슬라이싱
- 리스트명[start:end]
- 시작 값은 '포함',끝값은 '미포함'

In [5]:
list3=[0,1,2,3,4]
# 1, 2 요소에 접근
list3[1:3]

[1, 2]

- list와 list를 더하면?

In [11]:
# list와 list를 더하면. 뒤로 붙게 된다.
# 단, "숫자 연산" 안된다.값이 더해지지 않음
list4 = [1,2,3]
list5 = [3,4,5,6]
list4 + list5

[1, 2, 3, 3, 4, 5, 6]

### 리스트 관련 함수
#### 리스트 값 추가 : append(), insert()
- 리스트.append(값) : 리스트의 맨 뒤에 값을 추가
- 리스트.insert(인덱스위치, 값) : 사용자가 지정한 위치에 값을 추가

#### 리스트 값 수정
- 리스트.[인덱스] = 값 : 해당 위치에 값을 수정(새로 대입)

#### 리스트 값 삭제 : remove(),del 객체
- 리스트.remove(값) : 해당하는 값을 삭제
- del 리스트[인덱스] : 해당하는 위치의 값을 삭제
   - 값이 없는 경우에는 해당하는 리스트를 삭제

In [28]:
# 리스트 값 추가
list_fs=['사과','배','포도']
list_fs.append('복숭아')
list_fs.insert(2,'멜론')
list_fs

['사과', '배', '멜론', '포도', '복숭아']

In [29]:
# 리스트 값 추가
list_fs[0] = '망고' 
list_fs

['망고', '배', '멜론', '포도', '복숭아']

In [30]:
# 리스트 값 삭제
list_fs.remove("배")

In [31]:
list_fs

['망고', '멜론', '포도', '복숭아']

In [32]:
del list_fs[3]

In [33]:
list_fs

['망고', '멜론', '포도']

In [34]:
# pop() : 해당하는 위치의 값을 삭제하는데, 남깁니다!!
# (정처기 잘 나옴 실무X)
melon = list_fs.pop(1)

In [35]:
list_fs

['망고', '포도']

In [36]:
melon

'멜론'

In [37]:
mango = list_fs.remove("망고")

In [38]:
list_fs

['포도']

In [39]:
mango

### 리스트 정렬 : sort() , reverse()
- 리스트.sort() : 오름차순으로 정렬
- 리스트.reverse() : 요소들을 역순으로 뒤집기
    - "내림차순" 을 하고 싶은 경우 : 리스트.sort() -> 리스트.reverse()

In [44]:
list_nums=[5,19,1,33,11,45]
list_nums.sort()
list_nums

[1, 5, 11, 19, 33, 45]

In [45]:
list_nums=[5,19,1,33,11,45]
list_nums.reverse()
list_nums

[45, 11, 33, 1, 19, 5]

In [56]:
list_nums=[5,19,1,33,11,45]
list_nums.sort()
list_nums.reverse()
list_nums

[45, 33, 19, 11, 5, 1]

### 인덱싱 & 슬라이싱 구조
- 리스트[start:end:step(보폭)]
    - 보폭 값을 음수로 하면 reverse()대신 사용가능하다

In [2]:
list_nums=[5,19,1,33,11,45]
list_nums[1:6:2] # 보폭 생략시 1을 넣은 것과 같다

[19, 33, 45]

In [6]:
list_nums[::-1] # 보폭 음수로 쓸 때 첫값 끝값을 모두 생략해야함

[45, 11, 33, 1, 19, 5]

### 리스트 길이 확인 : len()
- len(리스트) : 리스트의 길이를 반환

In [57]:
len(list_nums)

6

## 튜플(tuple)
- 파이썬의 자료형 중 하나
- 순서(인덱스)가 있는 객체의 집합
- 소괄호(<b>()</b>)로 작성되어지며, 튜플의 내부 요소들은 콤마(,)로 구분
- <b>추가,수정,삭제 불가능</b>

In [8]:
tuple1 =(0,1,2,3,('a','b','c'),5)
tuple1

(0, 1, 2, 3, ('a', 'b', 'c'), 5)

In [26]:
# 튜플 인덱싱

print(tuple1[2])
print(tuple1[4])
print(tuple1[4][2])

2
('a', 'b', 'c')
c

In [30]:
# 튜플 슬라이싱

print (tuple1[1:3])
print(tuple1[2:])

(1, 2)
(2, 3, ('a', 'b', 'c'), 5)

In [31]:
# 튜플 길이

len(tuple1)

6

In [32]:
# 튜플은 추가, 수정 삭제가 불가능하다!!!!
tuple1[1]="B"

TypeError: 'tuple' object does not support item assignment

In [33]:
tuple1.insert(3,"4")

AttributeError: 'tuple' object has no attribute 'insert'

In [35]:
tuple1.sort() # 정렬은 치환의 개념이라 값을 수정하는 것이기에 튜플에는 적용X

AttributeError: 'tuple' object has no attribute 'sort'

In [34]:
# list로 형변환으로 가능!
list(tuple1)

[0, 1, 2, 3, ('a', 'b', 'c'), 5]

In [40]:
# 튜플 자체는 바뀌지 않지만 튜플 안에 리스트는 바꿀 수 있다!
# 튜플의 요소는 바꿀 수 없다!
tuple2 = (0, 1, 2, 3, ['a', 'b', 'c'], 5)
tuple2[4][1]='d'
tuple2

(0, 1, 2, 3, ['a', 'd', 'c'], 5)

### 리스트와 튜플의 공통점과 차이점
- 공통점
    - 타입과 상관없이 일련의 요소들을 가질 수 있음
    - ex_ [1,"A",[2,"B"]] || (1,A,(2,"B"))
    - 요소의 순서(인덱스)를 관리한다 -> 인덱싱과 슬라이싱 가능!!
    
- 차이점
    - 리스트
        - 가변적(추가, 수정, 삭제가 가능)
        - 요소가 몇 개 들어갈 지 명확하지 않는 경우에 사용
    - 튜플
        - 불변적(추가, 수정, 삭제가 불가능)
        - 요소 개수를 사전에 명확히 알고 있을 경우에 사용